@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Trip_Planner";
}

    <div>
        <img src="~/Images/MainPic.jpg" width="900" height="350"/>
        
    </div>